body{
    margin: 0;
    background-color: rgb(223, 14, 199);
    background:  radial-gradient(circle at top, #4a0484, #0B0B0B 70%);
    color: #dadbb1;
    height: 100hv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;}
    .container{
        text-align: center;
    }


#the-wish{
    backgroundd: rgba(255,255,255,0.92);
    padding: 30px;
    border-radius:20px;
    max-width:700px;
    margin:300px auto;
    box-shadow: 0 10px 30px rgba(0,0,0,0.25);
}
    h1{
    font-size: 3rem;
    letter-spacing: 1px;
    margin-bottom: 20px;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
}

p{
    font-size: 1.2rem;
    margin-bottom: 40px;
    max-width: 600px;
    line-height: 0.8;
    opacity: 0..85;
}

button{
    background-color: #131212;
    color: rgb(10, 10, 10);
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: 3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(135deg, #dadac2, #0c0c0c);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0, 4);
}
.button:hover{
    transform: scale(1.1);
}
.hidden{
    opacity: 0;
    transform: translateY(40px);
    transition: 1.5s
}

.show{
    opacity: 1;
    transform: translateY(0);
}
.flower{
    position: absolute;
    font-size: 40px;
    animation: flowerBloom 2s forwards;
}

@keyframes flowerBloom{
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1.5);
    }
}


.firework{

    position:absolute;

    width:10px;
    height:10px;

    background:gold;

    border-radius:50%;

    animation:explode 1s ease-out forwards;

}

@keyframes explode{

    0%{

        transform:scale(1);

        opacity:1;

    }

    100%{

        transform:scale(20);

        opacity:0;

    }

}
section{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 1s ease forwards;
}
